<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCRBrailleExtendedMainStatusEnabled</key>
	<false/>
	<key>SCRBrailleExtendedTextStatusEnabled</key>
	<false/>
	<key>SCRBrailleMainStatusEnabled</key>
	<true/>
	<key>SCRBrailleSingleElementPerLineMode</key>
	<false/>
	<key>SCRBrailleTextStatusEnabled</key>
	<false/>
	<key>SCRCInvertedTCommanderArrowToggleEnabled</key>
	<true/>
	<key>SCRCInvertedTCommanderCaptureEnabled</key>
	<false/>
	<key>SCRCTrackpadCommanderCursorTrackingSelectionToVO</key>
	<false/>
	<key>SCRCTrackpadCommanderEnabled</key>
	<false/>
	<key>SCRCTrackpadCommanderOnlySpeakWhenTouching</key>
	<false/>
	<key>SCRCUserDefaultsAppendPhoneticOutputToSingleCharacters</key>
	<false/>
	<key>SCRCUserDefaultsAudioDuckingEnabled</key>
	<true/>
	<key>SCRCUserDefaultsAutoDrillContainersEnabled</key>
	<true/>
	<key>SCRCUserDefaultsAutomaticallySpeakWebPage</key>
	<false/>
	<key>SCRCUserDefaultsAutomaticallySpeakWebPageSummary</key>
	<false/>
	<key>SCRCUserDefaultsBrailleAlertTimeoutInSeconds</key>
	<real>3</real>
	<key>SCRCUserDefaultsBrailleAutoAdvanceDuration</key>
	<real>4</real>
	<key>SCRCUserDefaultsBrailleAutomaticTranslationEnabled</key>
	<integer>0</integer>
	<key>SCRCUserDefaultsBrailleContractionMode</key>
	<integer>1</integer>
	<key>SCRCUserDefaultsBrailleEightDotMode</key>
	<true/>
	<key>SCRCUserDefaultsBrailleKeyDebounceTimeout</key>
	<real>0.5</real>
	<key>SCRCUserDefaultsBrailleShowDotsSevenAndEight</key>
	<true/>
	<key>SCRCUserDefaultsBrailleTableIdentifier</key>
	<string>com.apple.scrod.braille.table.duxbury.eng-xueb</string>
	<key>SCRCUserDefaultsBrailleWordWrapEnabled</key>
	<true/>
	<key>SCRCUserDefaultsCursorTrackingEnabled</key>
	<true/>
	<key>SCRCUserDefaultsDontSpeakWebTableRowColumnIndices</key>
	<false/>
	<key>SCRCUserDefaultsFastSearchEnabled</key>
	<false/>
	<key>SCRCUserDefaultsGestureCommanderReverseScroll</key>
	<true/>
	<key>SCRCUserDefaultsGestureCommanderTouchFrameTransparency</key>
	<real>0.4</real>
	<key>SCRCUserDefaultsGroupingBehaviorGlobal</key>
	<string>SCRGroupDrill</string>
	<key>SCRCUserDefaultsHasPronunciations</key>
	<true/>
	<key>SCRCUserDefaultsSingleLetterQuickNavEnabled</key>
	<false/>
	<key>SCRCUserDefaultsSkipRedundantLabelsEnabled</key>
	<false/>
	<key>SCRCUserDefaultsSystemDialogReminderType</key>
	<integer>0</integer>
	<key>SCRCUserDefaultsTextCursorFeedbackOption</key>
	<integer>0</integer>
	<key>SCRCUserDefaultsUnitOfMeasure</key>
	<integer>0</integer>
	<key>SCRCUserDefaultsUseImageCaption</key>
	<false/>
	<key>SCRCUserDefaultsWebNavigationMethod</key>
	<integer>0</integer>
	<key>SCRCUserDefaultsWebObserveLiveRegions</key>
	<true/>
	<key>SCRCUserDefaultsWebPageLoadingBehavior</key>
	<integer>0</integer>
	<key>SCRCUserDefaultsWebPreventKeyboardDOMEventDispatch</key>
	<false/>
	<key>SCRCUserDefaultsWebRotorOrdering</key>
	<array>
		<dict>
			<key>WebRotorEnabled</key>
			<true/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuLinks</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<true/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuHeadings</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<true/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuFormControls</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<true/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuTables</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<true/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuLandmarks</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<true/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuFrames</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuWebspots</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuArticles</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuWebGroups</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuButtons</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuTextFields</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuImages</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuLines</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuLists</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuLiveRegions</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuNonVisitedLinks</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuVisitedLinks</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuStaticText</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuRadioGroup</string>
		</dict>
		<dict>
			<key>WebRotorEnabled</key>
			<false/>
			<key>WebRotorKey</key>
			<string>SCRWebChooserMenuCheckbox</string>
		</dict>
	</array>
	<key>SCRCUserDefaultsWebTablesRequireInteraction</key>
	<false/>
	<key>SCRCUserDefaultsWebpageLoadingBehavior</key>
	<integer>0</integer>
	<key>SCRCategories_SCRCategorySystemWide_SCRAudioOutputSelectorDeviceName</key>
	<string>SCRAudioOutputSelectorDefaultOutput</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRDeleteCharacterMode</key>
	<string>SCRDeleteCharModeUsePitchChange</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRLinkAttributeDescriptionLevel</key>
	<string>SCRLinkAttributeDescSpeak</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRMisspelledWordsDescriptionLevel</key>
	<string>SCRMisspelledWordsDescSpeakChanges</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRNumberMode</key>
	<string>SCRNumberModeWholeWords</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRPositionalAudioEnabled</key>
	<true/>
	<key>SCRCategories_SCRCategorySystemWide_SCRPunctuationRepeatLimit</key>
	<integer>3</integer>
	<key>SCRCategories_SCRCategorySystemWide_SCRPunctuationRepeatMode</key>
	<string>SCRFirstN</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRPunctuationVerbosenessLevel</key>
	<string>SCRPunctuationVerbosenessLevel1</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRSoundComponentSettings_SCRDisableSound</key>
	<false/>
	<key>SCRCategories_SCRCategorySystemWide_SCRSpeechComponentSettings_SCRDisableSpeech</key>
	<false/>
	<key>SCRCategories_SCRCategorySystemWide_SCRSpeechLanguages_default_SCRSpeechComponentSettings_SCRIntonationAsPercent</key>
	<real>50</real>
	<key>SCRCategories_SCRCategorySystemWide_SCRSpeechLanguages_default_SCRSpeechComponentSettings_SCRPitchAsPercent</key>
	<real>50</real>
	<key>SCRCategories_SCRCategorySystemWide_SCRSpeechLanguages_default_SCRSpeechComponentSettings_SCRRateAsPercent</key>
	<integer>90</integer>
	<key>SCRCategories_SCRCategorySystemWide_SCRSpeechLanguages_default_SCRSpeechComponentSettings_SCRVoiceIdentifier</key>
	<string>com.apple.speech.synthesis.voice.daniel.premium</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRSpeechLanguages_default_SCRSpeechComponentSettings_SCRVoiceUseCustomizedVoiceSettings</key>
	<true/>
	<key>SCRCategories_SCRCategorySystemWide_SCRSpeechLanguages_default_SCRSpeechComponentSettings_SCRVolumeAsPercent</key>
	<real>100</real>
	<key>SCRCategories_SCRCategorySystemWide_SCRTableHeadersLevel</key>
	<string>SCRTableHeadersOn</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRTextAttributesDescriptionLevel</key>
	<string>SCRTextAttributesDescNone</string>
	<key>SCRCategories_SCRCategorySystemWide_SCRUpperCaseCharacterMode</key>
	<string>SCRUpperCaseCharModeUsePitchChange</string>
	<key>SCRConfigurationAnnounceMouseEnteringContainerAreaEnabled</key>
	<false/>
	<key>SCRConfigurationCursorTrackingMToVO</key>
	<true/>
	<key>SCRConfigurationCursorTrackingVOToM</key>
	<false/>
	<key>SCRConfigurationHighlightTextByWord</key>
	<integer>0</integer>
	<key>SCRConfigurationSpeakAllStaticTextElementsInSheets</key>
	<true/>
	<key>SCRConfigurationSpeakVoiceOverCursorMagnificationChanges</key>
	<false/>
	<key>SCRConfigurationSpeakZoomMagnificationChanges</key>
	<false/>
	<key>SCRConfigurationTextUnderMouseEnabled</key>
	<false/>
	<key>SCRConfigurationTextUnderMouseHoverDelayInterval</key>
	<real>0.4</real>
	<key>SCRContextualHelpDelayInSeconds</key>
	<real>0.5</real>
	<key>SCRDisplayBrailleEnabled</key>
	<integer>2</integer>
	<key>SCRDisplayTextEnabled</key>
	<true/>
	<key>SCRDisplayTextFontSize</key>
	<real>22</real>
	<key>SCREchoLockKeysEnabled</key>
	<true/>
	<key>SCREchoModifierKeysEnabled</key>
	<false/>
	<key>SCREnableAppleScript</key>
	<true/>
	<key>SCREndToEndWrappingAllowed</key>
	<false/>
	<key>SCRImageMappingLevel</key>
	<integer>2</integer>
	<key>SCRKeysToUseForVOModifier</key>
	<string>SCRVOModifierControlOptionOrCapsLock</string>
	<key>SCROutputAXHelpTag</key>
	<integer>2</integer>
	<key>SCRShouldOutputCustomActionRotorHelpTag</key>
	<integer>2</integer>
	<key>SCRShouldOutputMoreContentRotorHelpTag</key>
	<integer>2</integer>
	<key>SCRShouldOutputVOInstructions</key>
	<true/>
	<key>SCRSpeechAttributeRotorLastRotor</key>
	<integer>5</integer>
	<key>SCRTypingEchoFeedback</key>
	<string>SCRTypingEchoCharactersAndWords</string>
	<key>SCRVerbosity_ProgressIndicator_valueUpdate</key>
	<string>SCRValueDescToneAtChanges</string>
	<key>SCRVerbosity_SCRBrailleVerbosityLevel</key>
	<string>SCRVerbosityHigh</string>
	<key>SCRVerbosity_SCRVerbosityLevel</key>
	<string>SCRVerbosityHigh</string>
	<key>SCRVerbosity_StaticText_valueUpdate</key>
	<string>SCRValueDescToneAtChanges</string>
	<key>SCRVerbosity_Table_rowCountChange</key>
	<string>SCRValueDescNone</string>
	<key>SCRVerticalWrappingAllowed</key>
	<false/>
	<key>SCRVoiceOverCursorEnabled</key>
	<true/>
	<key>SCRVoiceOverCursorMagnificationFactor</key>
	<real>1</real>
	<key>custom.pronunciation.805062342.810914</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.810914</string>
		<key>SCRSearchText</key>
		<string>:-)</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.smiley</string>
	</dict>
	<key>custom.pronunciation.805062342.811041</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811041</string>
		<key>SCRSearchText</key>
		<string>;-)</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.wink</string>
	</dict>
	<key>custom.pronunciation.805062342.811055</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811055</string>
		<key>SCRSearchText</key>
		<string>:)</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.smiley</string>
	</dict>
	<key>custom.pronunciation.805062342.811064</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811064</string>
		<key>SCRSearchText</key>
		<string>;)</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.wink</string>
	</dict>
	<key>custom.pronunciation.805062342.811073</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811073</string>
		<key>SCRSearchText</key>
		<string>:(</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.frown</string>
	</dict>
	<key>custom.pronunciation.805062342.811082</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811082</string>
		<key>SCRSearchText</key>
		<string>:-(</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.frown</string>
	</dict>
	<key>custom.pronunciation.805062342.811090</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811090</string>
		<key>SCRSearchText</key>
		<string>GIF</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.GIF</string>
	</dict>
	<key>custom.pronunciation.805062342.811101</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811101</string>
		<key>SCRSearchText</key>
		<string>GUI</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.GUI</string>
	</dict>
	<key>custom.pronunciation.805062342.811109</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811109</string>
		<key>SCRSearchText</key>
		<string>802.11b</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.80211b</string>
	</dict>
	<key>custom.pronunciation.805062342.811118</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811118</string>
		<key>SCRSearchText</key>
		<string>802.11g</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.80211g</string>
	</dict>
	<key>custom.pronunciation.805062342.811127</key>
	<dict>
		<key>SCRComponent</key>
		<string>SCROutputSpeechComponent</string>
		<key>SCRDomainIdentifier</key>
		<string>SCRAnyApplication</string>
		<key>SCREnabled</key>
		<string>1</string>
		<key>SCRIgnoreCase</key>
		<true/>
		<key>SCRPrimaryKey</key>
		<string>805062342.811127</string>
		<key>SCRSearchText</key>
		<string>qty</string>
		<key>SCRSubTextKey</key>
		<string>SCRUserSubstitution.qty</string>
	</dict>
	<key>custom.trackpads.SCRCTrackpadCommanderEnabled-144115188092633088</key>
	<false/>
	<key>loginGreeting</key>
	<string>Welcome to Guidepup.</string>
</dict>
</plist>
