<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AXCloudKitSubscriptionCreated-com.accessibility.voiceover.punctuation</key>
	<true/>
	<key>AXCloudKitZoneCreated-com.accessibility.voiceover.punctuation</key>
	<true/>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1781859703</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>abc123</key>
		<data>
		abc123
		</data>
	</dict>
	<key>SCREnableAppleScript</key>
	<true/>
	<key>SCREnableAppleScript_</key>
	<true/>
</dict>
</plist>
