<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AXCloudKitSubscriptionCreated-com.accessibility.voiceover.punctuation</key>
	<true/>
	<key>AXCloudKitZoneCreated-com.accessibility.voiceover.punctuation</key>
	<true/>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1781859698</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>abc123</key>
		<data>
		abc123
		</data>
	</dict>
	<key>NSNavLastRootDirectory</key>
	<string>~/Desktop</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSWindow Frame GoToSheet</key>
	<string>389 331 460 364 0 0 1440 875 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>-250 -248 800 448 0 0 1440 875 </string>
	<key>SCREnableAppleScript</key>
	<true/>
	<key>ShowVerbosityDetail</key>
	<integer>1</integer>
</dict>
</plist>
