<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCRCUserDefaultsAllowAirPlay</key>
	<true/>
	<key>SCRCUserDefaultsAlwaysUsePortableIDs</key>
	<array>
		<string>uuid-username</string>
	</array>
	<key>SCRCUserDefaultsPlannedShutdownSuccessful</key>
	<true/>
	<key>SCRCUserDefaultsUnplannedShutdownCount</key>
	<integer>0</integer>
	<key>SCREnableAppleScript</key>
	<true/>
	<key>SCRUIPortablePreferencesDictionary</key>
	<dict>
		<key>DAMediaBSDName</key>
		<string>disk3s1</string>
		<key>SCRCUserDefaultsPortableDeviceKey</key>
		<string>disk-uuid</string>
		<key>SCRCUserDefaultsPortableDeviceModel</key>
		<string>GuidepupVoiceOverPreferences</string>
		<key>SCRCUserDefaultsPortableFullUserName</key>
		<string>Guidepup</string>
		<key>SCRCUserDefaultsPortableIconPath</key>
		<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/Removable.icns</string>
		<key>SCRCUserDefaultsPortableIsIDisk</key>
		<false/>
		<key>SCRCUserDefaultsPortableIsRemote</key>
		<true/>
		<key>SCRCUserDefaultsPortablePreferencePath</key>
		<string>/Volumes/GuidepupVoiceOverPreferences/VoiceOver/VoiceOver4.portable</string>
		<key>SCRCUserDefaultsPortableVolumePath</key>
		<string>/Volumes/GuidepupVoiceOverPreferences</string>
	</dict>
	<key>portablePreferenceKeys</key>
	<array>
		<string>uuid-username</string>
	</array>
</dict>
</plist>